<nav class="navbar">
  <div class="navbar__primary">
    <div class="navbar__primary__logo">
      <img src="assets/images/QR_code.svg" alt="Logo" />
    </div>
  </div>

  <div class="navbar__secondary">
    <div class="navbar__secondary__title">
      <h2>نظام ادارة المهام</h2>
      <h4>Task Management System</h4>
    </div>
  </div>

  <div class="navbar__white">
    <div class="navbar__white__title">
      <h2>ادارة الموظفين</h2>
    </div>
    <div class="navbar__white__logo">
      <img src="assets/images/twitter.svg" alt="Twitter" />
    </div>
  </div>
</nav>
